@mixin inner-box-shadow($size, $color) {
  box-shadow: inset $size 0 $color,
  inset 0 $size $color,
  inset -1*$size 0 $color,
  inset 0 -1*$size $color;
}

@mixin resting-box-shadow {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  transition: box-shadow 0.2s ease;
}

@mixin hover-box-shadow {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.12), 0px 8px 8px 0px rgba(0,0,0,0.24);
}