.home-nav {
  $circumference: 250px;
  @include resting-box-shadow;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  height: $circumference;
  justify-content: center;
  left: calc(50% - #{$circumference} / 2);
  top: calc(46vh - #{$circumference} / 2);
  position: absolute;
  text-align: center;
  width: $circumference;

  a, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .nav-title {
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 5px;
    width: 100%;
  }

  .nav-links {
    font-family: 'Source Code Pro', monospace;
  }

  p.nav-link {
    width: 100px;
  }
}

.left-top, .right-top, .left-bottom, .right-bottom {
  position: absolute;
  width: fit-content;
}

.circle, .cross-hair, .pencil, .smiley {
  font-family: "Arial", sans-serif;
}

.left-top {
  margin: 5%;

  .asterisk {
    font-size: 150px;
    margin: 60px 0 0 10px;
  }

  .cross-hair {
    display: inline-block;
    font-size: 50px;
    margin: 0;
  }
}

.right-top {
  margin: 6% 5%;
  transform: rotate(90deg);
  right: 0;

  .artist {
    margin: 5px 30px;
  }

  .circle {
    font-size: 40px;
    margin: 0;
  }

  .pencil {
    font-size: 90px;
    line-height: 0;
    margin: 0px -30px 30px 50px;
  }
}

.left-bottom {
  bottom: 0;
  margin: 5% -10px;

  > div {
    transform: rotate(-90deg) translate(40px);
  }

  .designer {
    margin-left: 50px;
  }

  .smiley {
    font-size: 45px;
    margin: 0;
    position: absolute;
    transform: rotate(90deg);
  }

  .xx {
    margin: 0 0 30px 140px;

    p {
      font-size: 90px;
      font-weight: bold;
      transform: rotate(45deg);
      line-height: 0;
      margin: 0;
    }
  }
}

.right-bottom {
  bottom: 0;
  right: 0;
  margin: 5%;

  img {
    width: 70px;
  }
}