@import "variables";
@import "mixins";

/* utilities - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  margin: 0 auto;
}

::selection {
  background: #333;
  color: white;
}

button {
  background: black;
  color: white;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
}

img {
  width: 100%;
}

a {
  $link-color: $accent-gray;
  color: $link-color;

  .social-links & {
    color: #ddd;
  }

  &:visited {
    color: $link-color;

    .social-links & {
      color: #ddd;
    }
  }

  &:hover, .social-links &:hover {
    color: $main-blue;
  }

  &:active, .social-links &:active {
    color: $main-yellow;
  }
}

.social-links {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  margin: calc(50px + 25px) auto 30px auto;
}

.text-center {
  text-align: center;
}

.index {
  margin-top: calc(100vh / 3);
}

.pull-right {
  float: right;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadein {
  opacity: 1;
}

.drawing-instructions {
  bottom: 0;
  color: #ccc;
  font-size: xx-small;
  margin: 0 auto 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.home-nav {
  $circumference: 250px;
  @include resting-box-shadow;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  flex-direction: column;
  height: $circumference;
  left: calc(50% - #{$circumference} /2);
  top: calc(46vh - #{$circumference} / 2);
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: $circumference;

  a, a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .nav-title {
    display: inline-block;
    margin: 95px auto 0;
    width: 100%;

    @media (min-width: $breakpoint-xs) {
      float: none;
    }
  }

  p.nav-link {
    width: 100px;
  }
}

@import "nav.scss";
@import "about.scss";
@import "blog.scss";
@import "portfolio.scss";
@import "projects.scss";