/* utilities - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto; }

a, a:visited {
  color: #333; }

a:hover {
  color: #f00699; }

a:active {
  color: greenyellow; }

.container {
  margin: calc(46px + 25px) auto 0 auto; }

.text-center {
  text-align: center; }

.index {
  margin-top: calc(100vh / 3); }

.pull-right {
  float: right; }

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.fadein {
  opacity: 1; }

/* navigation bar - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
nav a {
  text-decoration: none; }
nav ul {
  background-color: white;
  color: #333;
  font-family: 'Karla', sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw; }
nav li {
  display: block;
  text-decoration: none;
  padding: 14px 16px; }
  @media screen and (min-width: 560px) {
    nav li {
      float: left; } }

#nav-title {
  display: block;
  float: none;
  padding: 14px 16px; }
  @media (min-width: 560px) {
    #nav-title {
      float: left; } }

.nav-active {
  font-weight: bold; }

.nav-items {
  display: none;
  float: none; }
  .nav-items.nav-open {
    display: block; }
  @media screen and (min-width: 560px) {
    .nav-items {
      display: block;
      float: right; } }

.hamburger {
  margin: 0 0 -4px 0 !important;
  padding: 10px !important; }
  .hamburger:focus {
    outline: none; }
  @media (min-width: 560px) {
    .hamburger {
      display: none !important; } }

/* about - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#id-img {
  max-height: 400px;
  max-width: 100%;
  margin-top: -40px; }
  @media (min-width: 992px) {
    #id-img {
      margin-top: 0; } }

.about-container {
  margin-top: calc(100vh / 5); }

.description {
  text-align: center;
  padding: 15px; }
  @media (min-width: 992px) {
    .description {
      margin-top: 75px;
      text-align: left; } }

/* blog - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.blog-container {
  height: calc(100vh);
  width: 100%; }
  .blog-container iframe {
    border: none;
    width: 1px;
    min-width: 100%; }

/* portfolio - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.filters {
  width: 90%; }
  @media screen and (min-width: 768px) {
    .filters {
      width: 92%; } }
  @media screen and (min-width: 1200px) {
    .filters {
      width: 91%; } }
  .filters button {
    background-color: white;
    border: none;
    font-size: inherit;
    font-style: italic; }
    .filters button.active {
      font-weight: bold; }
    .filters button:hover {
      cursor: pointer;
      text-decoration: line-through; }
      .filters button:hover.art {
        color: dodgerblue; }
      .filters button:hover.code {
        color: #f00699; }
      .filters button:hover.design {
        color: greenyellow; }

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.project {
  float: left;
  margin: 10px;
  width: calc(95%); }
  .project:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  @media screen and (min-width: 560px) {
    .project {
      width: 45%; } }
  @media screen and (min-width: 768px) {
    .project {
      width: 30%; } }
  @media screen and (min-width: 1200px) {
    .project {
      width: 22%; } }
  .project.art {
    background-color: dodgerblue; }
  .project.code {
    background-color: #f00699; }
  .project.design {
    background-color: greenyellow; }

/*# sourceMappingURL=main.css.map */
