@import "variables";

/* utilities - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  color: $accent-gray;

  .social-links &{
    color: #ddd;
  }

  &:visited {
    color: $accent-gray;

    .social-links & {
      color: #ddd;
    }
  }

  &:hover, .social-links &:hover {
    color: $main-pink;
  }

  &:active, .social-links &:active {
    color: $main-yellow;
  }
}

.social-links {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  margin: calc(46px + 25px) auto 30px auto;
}

.text-center {
  text-align: center;
}

.index {
  margin-top: calc(100vh / 3);
}

.pull-right {
  float: right;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadein {
  opacity: 1;
}

@import "nav.scss";
@import "about.scss";
@import "blog.scss";
@import "portfolio.scss";
@import "projects.scss";