/* utilities - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto; }

a, a:visited {
  color: #333; }

a:hover {
  color: #f00699; }

a:active {
  color: greenyellow; }

.container {
  margin: calc(46px + 25px) auto 0 auto; }

.text-center {
  text-align: center; }

.index {
  margin-top: calc(100vh / 3); }

.pull-right {
  float: right; }

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out; }

.fadein {
  opacity: 1; }

.hidden {
  opacity: 0; }

/* navigation bar - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
nav a {
  text-decoration: none; }
nav ul {
  color: #333;
  font-family: 'Karla', sans-serif;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw; }
  nav ul .responsive li {
    float: none;
    text-align: left; }
    @media screen and (min-width: 560px) {
      nav ul .responsive li {
        display: block; } }
nav li {
  background-color: white;
  display: block;
  text-decoration: none;
  padding: 14px 16px; }
  @media screen and (min-width: 560px) {
    nav li {
      float: left; }
      nav li.hidden {
        opacity: 1; } }

#nav-title {
  display: block;
  float: none;
  padding: 14px 16px; }
  @media (min-width: 560px) {
    #nav-title {
      float: left; } }

.nav-active {
  font-weight: bold; }

.nav-items {
  float: none; }
  @media screen and (min-width: 560px) {
    .nav-items {
      float: right; } }

.hamburger:focus {
  outline: none; }
@media (min-width: 560px) {
  .hamburger {
    display: none !important; } }

/* about - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#id-img {
  max-height: 400px;
  max-width: 100%;
  margin-top: -40px; }
  @media (min-width: 992px) {
    #id-img {
      margin-top: 0; } }

.about-container {
  margin-top: calc(100vh / 5); }

.description {
  text-align: center;
  padding: 15px; }
  @media (min-width: 992px) {
    .description {
      margin-top: 75px;
      text-align: left; } }

/* blog - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.blog-container {
  height: calc(100vh);
  width: 100%; }
  .blog-container iframe {
    border: none;
    min-width: 100%; }

/* portfolio - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.filters {
  padding: 0 10px; }
  .filters button {
    border: none;
    font-size: inherit;
    font-style: italic; }
    .filters button.active {
      font-weight: bold; }
    .filters button:hover {
      cursor: pointer;
      text-decoration: line-through; }
      .filters button:hover.art {
        color: dodgerblue; }
      .filters button:hover.code {
        color: #f00699; }
      .filters button:hover.design {
        color: greenyellow; }

.project {
  float: left;
  height: 200px;
  width: 200px;
  margin: 10px; }
  .project.art {
    background-color: dodgerblue; }
  .project.code {
    background-color: #f00699; }
  .project.design {
    background-color: greenyellow; }

/*# sourceMappingURL=main.css.map */
