/* navigation bar - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav {
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  ul {
    background-color: white;
    border-bottom: 1px dashed #ccc;
    color: #333;
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
  }

  li {
    display: block;
    text-decoration: none;
    padding: 14px 16px;

    &.active {
      font-weight: bold;
    }

    @media screen and (min-width: $breakpoint-xs) {
      float: left;
    }
  }
}

#nav-title {
  display: block;
  float: none;
  font-weight: bold;
  font-size: x-large;
  padding: 14px 16px;

  @media (min-width: $breakpoint-xs) {
    float: left;
  }
}

.nav-items {
  display: none;
  float: none;
  margin-top: 5px;

  &.nav-open {
    display: block;
  }

  @media screen and (min-width: $breakpoint-xs) {
    display: block;
    float: right;
  }
}

.hamburger {
  margin: 7px 5px 0 0 !important;
  padding: 10px !important;

  &:focus {
    outline: none;
  }

  @media (min-width: $breakpoint-xs) {
    display: none !important;
  }
}