/* navigation bar - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

nav {
  a {
    text-decoration: none;
  }

  ul {
    background-color: white;
    color: #333;
    font-family: 'Karla', sans-serif;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  li {
    display: block;
    text-decoration: none;
    padding: 14px 16px;

    @media screen and (min-width: $breakpoint-xs) {
      float: left;
    }
  }
}

#nav-title {
  display: block;
  float: none;
  padding: 14px 16px;

  @media (min-width: $breakpoint-xs) {
    float: left;
  }
}

.nav-active {
  font-weight: bold;
}

.nav-items {
  display: none;
  float: none;

  &.nav-open {
    display: block;
  }

  @media screen and (min-width: $breakpoint-xs) {
    display: block;
    float: right;
  }
}

.hamburger {
  margin: 0 0 -4px 0 !important;
  padding: 10px !important;

  &:focus {
    outline: none;
  }

  @media (min-width: $breakpoint-xs) {
    display: none !important;
  }
}