@import "variables";

/* portfolio - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.filters {
  width: 90%;

  @media screen and (min-width: $breakpoint-sm) {
    width: 92%;
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: 91%;
  }

  button {
    background-color: white;
    border: none;
    font-size: inherit;
    font-style: italic;

    &.active {
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      text-decoration: line-through;

      &.art {
        color: $main-blue;
      }

      &.code {
        color: $main-pink;
      }

      &.design {
        color: $main-yellow;
      }
    }
  }
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  float: left;
  margin: 10px;
  width: calc(95%);

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  @media screen and (min-width: $breakpoint-xs) {
    width: 45%;
  }

  @media screen and (min-width: $breakpoint-sm) {
    width: 30%;
  }

  @media screen and (min-width: $breakpoint-lg) {
    width: 22%;
  }

  &.art {
    background-color: $main-blue;
  }

  &.code {
    background-color: $main-pink;
  }

  &.design {
    background-color: $main-yellow;
  }
}