// colors
$accent: #19a89c;
$accent-gray: #333;
$link-color: #757575;
$link-hover-color: #333;

$art-color: $accent;
$code-color: $accent;
$design-color: $accent;

// sizes
$portfolio-box: 200px;
$header-height: 80px;

// breakpoints
$breakpoint-xs: 560px;
$breakpoint-sm: 768px; //48em;
$breakpoint-md: 992px; //62em;
$breakpoint-lg: 1200px; //75em;