@import "variables";
@import "mixins";

/* responsive  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.col-xs-0 {
  @include xs-down() {
    display: none;
  }
}


/* utilities - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
}

body {
  font-family: $font-main;
  margin: 0 auto;

  &.about,
  &.portfolio {
    display: flex;
    flex-flow: row wrap;
  }

  &.blog,
  &.marie-yatsyk {
    .social-links {
      display: none;
    }
  }

  &.marie-yatsyk nav {
    display: none;
  }
}

#content {
  width: 100%;
}

p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.colophon {
  font-family: $font-accent;
  font-size: smaller;
}

.top-description p {
  margin-top: 0;
}

::selection {
  background: $accent;
  color: white;
}

:focus {
  outline: 1px dashed #ccc;
}

button {
  background: black;
  color: white;
  cursor: pointer;
  font-family: $font-accent;
  font-size: inherit;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;

  &:hover {
    background-color: #333;
  }
}

img {
  width: 100%;
}

a {
  color: $link-color;
  font-family: $font-accent;
  text-decoration: none;

  &:visited {
    color: $link-color;
  }

  &:hover, &:active {
    color: $link-hover-color;
    font-weight: bold;
  }
}

.container {
  margin: $header-height auto 0;

  @media (max-width: $breakpoint-sm) {
    padding: 0 10px;
  }
}

.text-center {
  text-align: center;
}

.center-h {
  justify-content: center;
}

.index {
  margin-top: calc(100vh / 3);
}

.pull-right {
  float: right;
}

.align-bottom {
  display: flex;
  align-items: flex-end;
}

.center-v {
  display: flex;
  align-items: center;
}

.fadein, .fadeout {
  opacity: 0;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.fadein {
  opacity: 1;
}

.drawing-instructions {
  bottom: 0;
  color: #ccc;
  font-size: xx-small;
  margin: 0 auto 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@import "social-links.scss";
@import "nav.scss";
@import "index.scss";
@import "about.scss";
@import "blog.scss";
@import "portfolio.scss";
@import "projects.scss";
@import "404.scss";