.social-links {
  align-self: flex-end;
  min-height: 25px;
  padding: 15px 0 20px;
  text-align: center;
  width: 100%;

  a {
    display: inline-block;
    height: 20px;
    margin: 0 1px;

    @media (max-width: $breakpoint-xs) {
      height: 30px;
    }

    &[title="Instagram"] {
      margin-left: -1px;
    }

    svg {
      fill: rgba($link-color, .2);
      height: 100%;


      &:visited {
        fill: rgba($link-color, .2);
      }

      &:hover, &:active {
        fill: rgba($link-hover-color, .5);
      }
    }
  }
}