<link rel="stylesheet" href="css/hamburgers.css">
<ul class="navbar" id="nav-main">
    <button class="hamburger hamburger--squeeze pull-right" type="button">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <li id="nav-title"><a href="index">M/M/Y</a></li>
    <div class="nav-items">
        <li><a href="portfolio">Projects</a></li>
        <li><a href="about">About</a></li>
        <li><a href="blog">Blog</a></li>
    </div>
</ul>

<!-- Toggle Hamburger with jQuery -->
<script>
    var $hamburger = $(".hamburger");
    var $navItems = $('.nav-items');
    $hamburger.on("click", function (e) {
        $hamburger.toggleClass("is-active");
        $navItems.toggleClass("nav-open");
    });
</script>