<link rel="stylesheet" href="css/hamburgers.css">
<ul class="navbar" id="nav-main">
    <button class="hamburger hamburger--squeeze pull-right" type="button">
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <li id="nav-title"><a href="index">M/M/Y</a></li>
    <div class="nav-items">
        <li class="hidden"><a href="portfolio">Projects</a></li>
        <li class="hidden"><a href="about">About</a></li>
        <li class="hidden"><a href="blog">Blog</a></li>
    </div>
</ul>

<!-- Toggle Hamburger with jQuery -->
<script>
    var $hamburger = $(".hamburger");
    $hamburger.on("click", function (e) {
        $hamburger.toggleClass("is-active");

        var nav = document.getElementById("nav-main");
        var navItems = $('ul.navbar li').slice(1);
        if (nav.className === "navbar") {
            nav.className += " responsive";
            navItems.removeClass("fadeout hidden").addClass("fadein");
        } else {
            nav.className = "navbar";
            navItems.removeClass("fadein").addClass("fadeout hidden")
                .on("transitionend", function () {
                    navItems.removeClass("fadeout");
                });
        }
    });
</script>