<nav id="nav">
  <ul class="navbar" id="nav-main">
    <button class="hamburger hamburger--squeeze pull-right" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <li class="nav-brand">
      <a href="{{.Site.BaseURL}}"><img class="nav-logo" src="/images/mmy-logo.png"></a>
      <a class="nav-title" href="index">Marie Yatsyk</a>
    </li>
    {{ $section := .Section | upper }}
    <div class="nav-items">
      {{ range where .Site.Sections "Title" "!=" "Archive" }}
      {{ $sectionTitle := .Title | singularize}}
        {{ if ne $sectionTitle "Axt" }}
        <li class="{{$sectionTitle | lower}} {{if eq ($section | upper) ($sectionTitle | upper)}}active{{end}}">
          <a href="{{.URL}}">{{ if eq $sectionTitle "Portfolio"}}Work{{else}}{{$sectionTitle}}{{end}}</a>
        </li>
        {{end}}
      {{ end }}
    </div>
  </ul>
</nav>