<nav id="nav">
  <ul class="navbar" id="nav-main">
    <button class="hamburger hamburger--squeeze pull-right" type="button">
      <span class="hamburger-box"><span class="hamburger-inner"></span></span>
    </button>
    <li class="nav-brand-container">
      <a class="nav-brand" href="{{.Site.BaseURL}}" aria-label="Home">
        <img class="nav-logo" src="/images/mmy-logo.png">
        <span class="nav-title" href="{{.Site.BaseURL}}">Marie Yatsyk</span>
      </a>
    </li>
    {{ $section := .Section | upper }}
    <div class="nav-items">
      {{ range where .Site.Sections "Title" "!=" "Archive" }}
      {{ $sectionTitle := .Title | singularize}}
      {{ $title := (cond (eq $sectionTitle "Portfolio") "Work" $sectionTitle)}}
        {{ if ne $sectionTitle "Axt" }}
        <li class="{{$sectionTitle | lower}} {{if eq ($section | upper) ($sectionTitle | upper)}}active{{end}}">
          <a href="{{.Permalink}}" aria-label='{{$title}}'>{{$title}}</a>
        </li>
        {{end}}
      {{ end }}
    </div>
  </ul>
</nav>