{{ define "main" }}
<div class="container archive-container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Archive</h1>
    </div>
    {{ range .Site.RegularPages.GroupByDate "2006" }}
    <div class="col-xs-12">
      <h2>{{ .Key }}</h2>
    </div>
    <div class="col-xs-12">
      <div class="row">
        {{ range .Pages }}
        <div class="col-xs-6 col-sm-3 col-md-2">
          <a class="" href="{{.Permalink}}" aria-label="{{.Title}}">
            <img src="../portfolio/{{ with .File }}{{ .BaseFileName }}{{ end }}/thumb.gif">
          </a>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}